<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}"lang="en">
<head>
    <title>Home</title>
</head>
<body>

<div layout:fragment="content">
    <div class="container main-content">
        <h3>Team View</h3>
        <form method="post" action="#" th:action="${player != null} ? '/players/'+${player.id} : '/players'" th:object="${playerModel}">
            <div class="form-row">
                <div class="col">
                    <input th:id="firstname" th:name="firstname" type="text" class="form-control" placeholder="First Name" th:value="${player != null} ? ${player.firstname}"/>
                </div>
                <div class="col">
                    <input th:id="lastname" th:name="lastname" type="text" class="form-control" placeholder="Last Name" th:value="${player != null} ? ${player.lastname}"/>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <input th:id="emailAddress" th:name="emailAddress" type="text" class="form-control" placeholder="Email Address" th:value="${player != null} ? ${player.emailAddress}"/>
                </div>
                <div class="col">
                    <input th:id="phoneNumber" th:name="phoneNumber" type="text" class="form-control" placeholder="Phone Number" th:value="${player != null} ? ${player.phoneNumber}"/>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <input th:id="address" th:name="address" type="text" class="form-control" placeholder="Address" th:value="${player != null} ? ${player.address}"/>
                </div>
            </div>
            <div class="form-row">
                <div class="col-7">
                    <input th:id="country" th:name="country" type="text" class="form-control" placeholder="Country" th:value="${player != null} ? ${player.country}"/>
                </div>
                <div class="col">
                    <input th:id="state" th:name="state" type="text" class="form-control" placeholder="State" th:value="${player != null} ? ${player.state}"/>
                </div>
            </div>
            <div class="form-row">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
        <a th:href="@{/players}">Return to All Players</a>
    </div>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script th:src="@{/js/table.js}"></script>
</div>
</body>
</html>